<%- include ('partials/header'); %>

<%- include ('layouts/navbar'); %>

<div class="w-75 mx-auto">
    <h1 class="text-center text-danger">
        SAYFA BULUNAMADI 
        404
    </h1>
    

</div>


<%- include ('partials/footer'); %>

