<%- include ('../partials/header'); %>


<div class="row g-0">
    <div class="col-xl-3 col-md-6 col-sm-12 mx-auto">
        <div class="mx-3 mt-3">
            <form action="/admin" method="POST">
                <div class="mb-3 text-center">
                    <label for="inp0" class="form-label text-center">User Name</label>
                    <input type="text" class="form-control" id="inp0" name="name" required>
                </div>
                <div class="mb-3 text-center">
                    <label for="forr" class="form-label">Password</label>
                    <input type="password" class="form-control" id="forr" name="password" required>
                </div>
        
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success ">Giriş Yap</button>
                </div>
            </form>
        </div>

    </div>

</div>

<div class="w-25 mx-auto mt-5">
    
</div>




<%- include ('../partials/footer'); %>



